:root {
    --yellow: #f9d342;
    --dark: #292826;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'playfair Display, serif';
}


.site-name span {
    font-size: 50px;
    color: lightcyan;
    font-weight: bold;
}

/*services*/
.btn {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 10;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 85px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    opacity: 0.85;
}




.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 45%;
    display: block
}



.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(image8.jpg)center/cover no-repeat;
    min-height: 100vh;
    color: white;
    padding: 25px;

}

.head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.head-bottom {

    text-align: center;
    width: 80vh;
}

.head-bottom h2 {
    padding: 22px 0;
    border-bottom: 1px solid white;

}


.head-bottom p {
    font-size: 20px;
    padding: 22px 0;
    margin: 45px auto;
    font-weight: bold;

}

.head-btn {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid white;
    background: transparent;
    padding: 13px 20px;
    color: white;
    cursor: pointer;

}




.head-btn {
    margin: 45px auto;
    font-size: 17px;
}


.head-bottom h2 {
    font-size: 28px;
    margin: 20px auto;
}

.head-bottom p {
    max-width: 500px;

    font-size: 17px;
    margin: 20px auto;
}



.sidenav {
    background: var(--dark);
    color: white;
    position: fixed;
    top: 0;
    right: 100%;
    width: 300px;
    padding: 20px;
    z-index: 10;

}

.sidenav.show {
    right: 0;
}

.cancel-btn {
    position: absolute;
    right: 25px;
    font-size: 22px;


}

.navbar {
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}

.navbar-icon {

    font-size: 75px;
    color: grey;

}

.navbar li a {
    color: white;

    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 0.5px solid rgba(249, 251, 66, 0.7);
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--yellow);
    border-bottom: 5px solid var(--dark);
    width: 235px;
    margin: 15px 0;
}

.btn {
    width: 175px;
}

.sec-width {
    width: 85vw;
    margin: 0 auto !important;
}

.services {
    margin: 100px 0;
    background-color: white;
}

.service {
    display: flex;
    margin: 100px 0;
}

.link {
    text-decoration: none;
}

.service-icon {
    flex: 30%;
    align-self: flex-start;
    font-size: 150px;
    color: #252525;
    cursor: pointer;

}



.service-content {
    padding-left: 20px;
}

.service-content h2 {
    opacity: 0.7;
}


.service-content button {
    margin-left: 0;
    margin-right: 0;
    background: var(--yellow);
    color: white;

}


.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}




.book {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(image6.webp)center/cover no-repeat;
    color: white;
    padding: 20px 30px;
}

.book-form {
    display: grid;
    /*keep in width*/
}


.book-form input {

    background: var(--dark);
    color: white;
    margin: 4px 0 15px 0;
    padding: 12px 15px;

    font-size: 17px;
    border: none;
}


.book-form {
    grid-gap: 24px;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;

}



.room {
    background: var(--dark);
    color: white;
    width: 100%;
    margin: 10px;
}

.room-text {
    padding: 5px 20px;
}

.room-text h3 {
    font-size: 30px;
}

.room-text ul {
    list-style-type: none;
}

.room-text ul li {
    padding: 7px 0;

}

.room-text ul li i {
    color: var(--yellow);

}

.rate {
    opacity: 0.8;
}

.rate span {
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}

.room-image {
    width: 2650px;
}

.room-image:hover img {
    transform: scale(1.1);
}



.room-image img {
    height: 100%;
}


.relaxs {
    margin-top: 40px;
    padding: 40 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images16.jpeg) center/cover no-repeat fixed;
}

.relax {
    background: white;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    cursor: pointer;
}



.relax h3 {
    font-size: 25px;
}

.relax p {
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
}

.relax img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px auto;
}



.relax:hover {
    transform: translateY(-18px);
}


.relaxs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}



.relaxs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


@media(max-width: 500px) {
    .relax p {
        width: 100%;
    }

    .relax img {
        width: 100px;
        height: 100px;
    }
}



.food {
    margin: 20px 0;
    padding-bottom: 20px;
    background: var(--dark);
    color: white;
    width: 100%;
}

.food-text {
    padding: 5px 20px;
    text-align: left;
}

.food-text h3 {
    font-size: 30px;
}

.food-text ul {
    list-style-type: none;
    margin: 15px 0;
}

.food-text ul li {
    padding: 7px 0;
}

.food-text ul li i {
    color: var(--yellow);
    margin-right: 10px;
}



.price span {
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}

.food-image {
    width: 2650px;
}

.food-image img {
    transition: var(--transition);
}

.food-image:hover img {
    transform: scale(1.1);
}




.food-image {
    flex: 1;
}

.food-image img {
    height: 100%;
}

.btns {
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    width: 175px;
    background-color: grey;
    color: white;
}


.customers {
    margin-top: 40px;
    padding: 40 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images10jpg.jpg) center/cover no-repeat fixed;
}

.customer {
    background: white;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: var(--transition);
}

.rating {
    margin: 10px 0;
    color: var(--yellow);
}

.customer h3 {
    font-size: 25px;
}

.customer p {
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
}

.customer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px auto;
}

.customer span {
    font-weight: 700;
    opacity: 0.7;
}

.btnss {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 10;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    transition: var(--transition);
}

.btnss:hover {
    opacity: 0.85;
}

.btnss {
    width: 175px;
    background-color: grey;
    color: white;
}

.customer:hover {
    transform: translateY(-18px);
}


.customers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.footer {
    background: var(--dark);
    color: white;
    text-align: center;
}

.footer-container {
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-container p,
.footer-container a,
.footer-container span {
    opacity: 0.8;
}

.footer a {
    display: block;
    color: white;
    text-decoration: none;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.social-icons li {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: #2e2e2e;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}

.social-icons li:hover {
    color: #2e2e2e;
    background: #fff;
}

.contact-item span {
    display: block;
}

@media(min-width: 900px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media(min-width: 1170px) {
    .footer {
        text-align: left;
    }

    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-container div:nth-child(1) p {
        padding-right: 20px;
    }

    .contact-item {
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

.showModal {
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}